.footer {
  padding-top: 5em;
  background-color: $black-blue;
  color: black;
  border-top-right-radius: $border-radius;

  flex-direction: column;
  align-items: center;

  &__logo-wrapper {
    width: 25%;
  }

  &__links-wrapper {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;

    flex-direction: column;
    width: 50%;
  }

  &__links-container:not(:last-child) {
    margin-bottom: 3em;
  }

  &__links-name {
    margin-bottom: 1.7em;
  }

  &__links-list {
    line-height: 2.7em;
  }
}