.footer {
  background-color: $black-blue;
  color: black;
  border-top-right-radius: $border-radius;

  &__content-wrapper {

    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
      width: 75%;
      max-width: 900px;
      margin: 0 auto;


      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__logo-wrapper {
    width: 25%;
    max-width: 110px;
    margin-top: 5em;

    @include respond(tab-land) {
      margin-top: 5em;
    }
  }

  &__links-wrapper {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;

    flex-direction: column;
    width: 50%;

    @include respond(tab-land) {
      text-align: left;
      width: 70%;
      max-width: 600px;

      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__links-container:not(:last-child) {
    margin-bottom: 3em;
  }

  &__links-name {
    margin-bottom: 1.7em;
  }

  &__links-list {
    line-height: 2.7em;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}