.intro {

  &__bg-img { 
    min-height: 75vh;
    background-image: url("../../images/bg-pattern-intro-mobile.svg"), linear-gradient(to bottom, $light-red--3 8%, $light-red--4);
    background-position: right 63% bottom 60%;
    border-bottom-left-radius: 100px;
    padding: 9% 6% 0 6%;

    @include respond(tab-port) {
      padding-top: 7rem;

      background-position: right 70% bottom 55%;
    }

    @include respond(tab-land) {
      background-image: url("../../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, $light-red--3 8%, $light-red--4);
      background-position: right 63% bottom 50%;
    }

    position: relative;
  }
  

  &__heading-primary {
    &-wrapper {
    width: 73%;
    text-align: center;

    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    }
  }

  &__btn-wrapper {
    width: 76%;
    max-width: 280px;
    position: absolute;  
    top: 78%;  
    left: 50%;  
    transform: translate(-50%, -50%);

    justify-content: space-between;

    @include respond(tab-port) {
      max-width: 29rem;
    }

    @include respond(big-desktop) {
      max-width: 350px;
    }
  }
}

.header {
  justify-content: space-between;


  &__logo {
    &-wrapper {
      width: 17%;
      max-width: 85px;
    }
  }

  &__btn-wrapper {
    width: 25%;
    max-width: 180px;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;

    @include respond(desktop) {
      position: static;
      display: flex;

      width: 80%; 
      height: auto;
      justify-content: space-between;
      margin-left: 2em;
    }
  }

  &__nav {
    
    align-items: center;
    width: 50%;

    &-list {
      justify-content: space-between;
    }
  }

  &__links-list {
    &--main {
      position: relative;
      width: 100%;
    }

    &--sub {
      
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding-top: 3em;
      padding-bottom: 3em;
      padding-left: 2em;
      width: 15rem;

      // display: none;
      position: absolute;
      top: 4rem;
      transform: translateX(-25%);
      background-color: $white;

      z-index: 1;

    }
  }

  &__links {
    &--main {
      color: $white;
      font-size: 1.8rem;

 
      &:hover, &:focus > a {
        text-decoration: underline;
        font-weight: 700;
      }
    }

    &--sub {
      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &:hover, &:focus > a {
        font-weight: 700;
      }
    }
  }
}

