*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
    // @include respond(tab-port) {
    //     padding: 0;
    // }
}
a,
.btn, 
.btn:visited, 
.btn:link {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// ::selection {
//     background-color: $color-primary;
//     color: $color-white;
// }