a {
  font-family: 'Ubuntu', sans-serif;
}

.intro {
  color: $white;

  &__heading-primary {
    &--main {
      font-size: clamp(1rem, 8vw, 5.8rem);
      font-weight: 600;
    }

    &--sub {
      font-size: $default-font-size;
      font-weight: 300;

      @include respond(tab-land) {
        font-size: 2rem;
      }
    }
  }
}

.header {
  &__links {
    
    &--main {
      font-size: 1.8rem;
      color: $white;
      // margin-right: 4rem;
    }
    

    &--sub > a {
      font-size: $default-font-size;
      color: $grayish-blue--dark;
    }
  }
}

.heading-secondary {
  font-size: clamp(1rem, 7vw, 3.8em);

  @include respond(desktop) {
    font-size: clamp(1rem, 8vw, 5rem);  
  }
  color: $blue--dark;
}

.box { 
  &__text {
    font-size: $default-font-size;
    line-height: 1.6em;

    @include respond(tab-land) {
      font-size: 1.8rem;
    }

    &--gray {
      color: $grayish-blue--dark;
    }

    &--white {
      color: $white
    }
  }

  &__heading-tertiary {
    &--light {
      font-size: 2.9rem;
      color: $white;

      @include respond(tab-land) {
        font-size: 3.8rem;
      }
    }
    &--dark {
      font-size: 2.2rem;
      color: $blue--dark;

      @include respond(tab-land) {
        font-size: 2.7rem;
      }
    }
  }
}

.footer {
  font-family: 'Ubuntu', sans-serif;

  &__links-name {
    color: $white;
    font-size: $default-font-size;
    font-weight: 400;
  }
  &__link {
    color: $grayish-blue;
    font-size: $default-font-size;
    font-weight: 400;
  }
}

.menu {

  &__links {
    &--main {
      font-size: $default-font-size;
      font-family: 'Overpass', sans-serif !important;
      font-weight: 600;
      color:  $grayish-blue--dark;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }
    &--sub > a {
      font-size: $default-font-size;
      font-family: 'Overpass', sans-serif;
      font-weight: 600;
      color:  $grayish-blue--dark;

      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
  }
}
