.flex { display: flex; }
.margin-heading--small { margin-top: 1em; }
.margin-heading-tertiary { margin-bottom: 2em; }
.margin-box { 
  margin-bottom: 7em;
  
  @include respond(tab-land) {
    margin-bottom: 10em;
  }

  @include respond(desktop) {
    margin-bottom: 6em;
  }
}
.img { width: 100%; }
.text-center { text-align: center; }
