  // COLORS
    // PRIMARY COLORS  
$light-red--1: hsl(355, 100%, 74%);
$light-red--2: hsl(356, 100%, 66%);
$blue--dark: hsl(208, 49%, 24%);
    // INTRO COLORS
$light-red--3: hsl(13, 100%, 72%);
$light-red--4: hsl(353, 100%, 62%);
    // NEUTRAL
$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$grayish-blue--dark: hsl(207, 13%, 34%);
$black-blue: hsl(240, 10%, 16%);
    // BACKGROUND BODY COLORS
$gray-blue--dark: hsl(237, 17%, 21%);
$blue--desaturated--dark: hsl(237, 23%, 32%);

  // FONT
    // SIZE
$default-font-size: 1.6rem;
  // BORDER
$border-radius: 100px;